.idea/
.vscode/
django/static/*
django/media/*
!django/media/admin-interface
django/*.pid
data/*
*.pyc
**/*.pyc
__pycache__
django/ex-report.xlsx
npm-web/*
npm-web-internal/*
django/.env
.venv/
.idea/
django/logs
django/.idea/
venv
